@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html {
  font-size: 62.5%;}

body {
  font-size: 1.3em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #222; 
}


h2{
  font-weight: 300;
  color: #fcfcfc;
  padding:20px 8%;
  letter-spacing: .5px;
}

h3{
  color: #666;
  font-weight:400;
  font-size: 20px;
  margin: 0px;
  padding: 25px 5%;
}


/*@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }*/

.one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .icons{
  	width: 30px;
    margin: 10px 10px;
  } 

.g_icons{
    float: left;
    width: 115px;
}


nav{
	height: 90px;
	border-bottom: 1px solid #ccc;
  position: initial;
}

nav div{
	float: left;
}

nav div #logo{
	width: 150px;
	margin: 30px 0 0 70px;
	float: left;
}

nav div ul{
	margin: 35px 0 0 40px;
}
nav div ul li {

	display: inline-block;
	width: 120px;
	text-align: center;
	font-weight: 300;
}

a{
	color: #666666;
	text-decoration: none;
}

a:hover{
	font-weight: 400;
}

header{

}

header #title{

  height: 100px;
}

#banner{
  height: 400px;
  background-image: url("../images/banners/banner3.jpg");
  background-repeat: no-repeat;
  position: relative;

}

header #banner_title{
  width: 70%;
  height: 180px;
  margin: 0px 0px 0px 15%;
  position: absolute;
  bottom: 0;
   background-color: #79618e;
}

footer{
  margin-top: 50px;
	color: #ececec;
	background-color: #333;
	height:300px;
}


footer div {
float: left;
}

footer li{
  display: inline-block;

}

#tab_menu ul li {
width: 300px;
height: 100px;
list-style-type: none;
border: 1px solid #ccc;
padding: 10px
}


.tab_icon{
  /*background-color: #ccc;*/
  float: left;
  width: 40%;
  height: 100%;
}



.tab_title{
  height: 100%;
  /*background-color: #ddd;*/
  font-weight: 400;
  text-transform: uppercase;
}


.tab_title div{
padding-top: 12%;
}