@import ƒ('https://fonts.googleapis.com/css?family=Roboto:300,400');

html {
  font-size: 62.5%;}

body {
  font-size: 1.3em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #222; 
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
}


#principal{
  /*border: 1px solid white;*/
  color: #fff;
  font-weight: 300;
  position: absolute;
  font-size: 20pt;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 170px;
}


h2{
  font-weight: 300;
  color: #fcfcfc;
  padding:20px 8%;
  letter-spacing: .5px;
}

h3{
  color: #666;
  font-weight:400;
  font-size: 20px;
  font-weight: 300;
  margin: 0px;
  padding: 25px 5%;
}


h4{
  text-transform: uppercase;
  font-weight: bold;
}

/*@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }*/

.one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .icons{
  	width: 30px;
    margin: 10px 30px;
  } 



.ico{
  width: 24px;
  margin: 10px 20px;
}

#logo_white{

  width: 140px;
  margin-left: 50px;
}

nav{
  background-color: white;
  width: 100%;
	height: 90px;
  max-width: 1280px;
  margin: 0 auto;
	border-bottom: 1px solid #ccc;
  z-index: 1;
  /*font-size: 11pt;*/
}

nav div{
	float: left;
}

nav div #logo{
	width: 130px;
	margin: 30px 0 0 70px;
	float: left;
}

nav div ul{
	margin: 35px 0 0 40px;
}
nav div ul li {

	display: inline-block;
	width: 120px;
	text-align: center;
	font-weight: 300;
}

a{
	color: #666666;
	text-decoration: none;
}




#title{
  width: 100%;
   max-width: 1280px;
  margin: 0 auto;
  background-color: white;
  height: 100px;
}

#banner{
  max-width: 1280px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  /*background-image: url("../images/banners/b1.jpg");*/
  background-image: url("http://placehold.it/1280x330");
  position: relative;

}

header #banner_title{
  width: 70%;
  height: 180px;
  margin: 0px 0px 0px 15%;
  position: absolute;
  bottom: 0;
  background-color: #79618e;
}


#wrapper{
   max-width: 1280px;
  width: 100%;
  position: relative;
  overflow: auto;
  background-color: white;
  margin: 0 auto;
}





#news{
  width: 70%;
  background-color: pink;
  height: 500px;
  float: left;
}

article{
  /*border: 1px solid #ccc;*/
  width: 50%;
  height: 250px;
  float: left;
  background-color: #EDEDED;
}

article div{
  width: 100%;
  height: 80px;
  background-color: white;
  margin-bottom: 0px;
  top: 150px;
  position: relative;
}


.static{
  height: 250PX;
}

#second{
  background-color: #E0DAEA;
}


section{
  width: 30%;
  /*background-color: green;*/
  height: 500px;
  float: left;
}

#ifs_logo{
  /*border: 1px solid pink;*/
  padding: 15px 15px;
  margin: 25px 15px 0px 0px;
  float: right;
  width: 140px;

}


input[type="submit"],
input[type="text"],
textarea{
  width: 100%;
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  box-shadow: none;
  box-sizing: border-box; 
  margin: 10px 10px;
}

input[type="text"]:focus{
  border-color: #79618e;
}

 
textarea{
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
          min-height: 65px;
          padding-top: 6px;
          padding-bottom: 6px; 
}


input[type="submit"]{
     background-color: #79618e;
    border: none;
    color: #fff;
    font-weight: 300;
}

input[type="submit"]:hover{
  opacity: 0.5;
}


#ifs{
font-size: 60pt;
font-weight: 400;
margin: 10px 50px; 
float: left;
color: #79618e;
}

#ifs_p{
  font-size: 13pt;
  padding: 40px 50px 0px 0px;
}



#part1{
  /*border: 1px solid #ccc;*/
  margin: 0px 0px 20px 0px;
}

.top{
  padding: 20px 20px;
  font-size: 13pt;
  border: 1px solid #ccc;
  height: 150px;

}


#table_customer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*border-top: .5px solid #ccc;*/
  width: 100%;
}

#table_customer li{
  width: 340px;
  /*border: 1px solid #ccc;*/
  height: 200px;
  text-align: center;
  background-color: #eee;
  display: inline-block;
}

.customer{
  width: 350px;
  margin-top: 40px;
}

.square{
  border: 1px solid;
  width: 100px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1px;
  padding: 15px 5px;
  color: #fff;
}

.ifs_icon{
  width: 140px;
  text-align: center;
  /*border: 1px solid #ccc;*/
  margin: 0 auto;
}

#ifs_menu{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  width: 100%;
}

#ifs_menu li{
 display: inline-grid;
 float: left;
 background: #E5E5E5;
 width: 25%;
 height: 250px;
 text-align: center;
}



/*IFS DESCRIPTION */

/*section one */
#sec_first{
  width: 100%;
  border: 1px solid #ccc;
  height: 200px;
  background: purple;
}

#sec_first #one{
  width: 30%;
  background-color: grey;
  float: left;
  height: 200px;
}

#sec_first #two{
  width: 70%;
float: left;
}

#sec_two {
  width: 100%;
}
#sec_first #two p{

  padding: 30px 50px;
}






#sec_third{
  width: 100%;
  height: 220px;
}

#sec_third div{
  width: 50%;
  float: left;
    height: 220px;
  margin-bottom: 100px;
  border-bottom: 1px solid #ccc;

}

#sec_third div p{
  margin: 60px 60px;
  text-align: justify;
}




/*IFS Table*/

#components_table {
  /*border: 1px solid #ccc;*/
  width: 100%;
  margin: 400px 0px 100px 0px;
    /*background-color: purple; */
}

#components_table li {
  display: inline-block;
  margin: 0px 10px 0px 0px;
  vertical-align: bottom;

}

#components_table ul{
  vertical-align: bottom;
  /*background-color: red;*/
  /*margin: 0 auto;*/
  text-align: center;

}

hr{
  width: 88%;
  text-align: center;
}



/*INDUSTRIAS REEL*/

#industrias_reel{
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 250px;
  background: white;
}

#industrias_reel .individual{
  width: 140px;
  /*border: 1px solid #ccc;*/
  float: left;
  margin: 20px 50px 0px 50px;
  opacity: 0.5;
}

#industrias_reel .individual:hover{
  opacity: 1;
}


#industrias_reel .individual h4{
  text-align: center;
}

.g_icons{
    margin: 0 auto;
    color: #ccc;
    width: 100px;
    /*border: 1px solid #ccc;*/
}

/*COLORS */
.y{background-color: #feaa00;}
.m{background-color:#c70075;}
.b{background-color: #0191ca;}
.g {background-color:#2ca23d;}
.gl{background-color:#8ac84a;}
.o {background-color:#f67107;}
.ol{background-color: #cec006;}
.navy{background-color: #006e9c;}
.red{background-color: #f34026;}
.grey{background-color: #444;
      height: 50px;}


#general_menu{
/*  background-color: #CCC;*/
  width: 20%;
  float: left;
}

#general_menu ul{
    margin: 0px;
   padding: 0px;
}

#general_menu li{
  list-style-type: none;
  text-align: center;
  /*background-color: purple;*/
  margin: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
     background-color: inherit;
        background-color: #EFEFEF;
         cursor: pointer;
    transition: 0.3s;
}

#general_menu li:hover{
  background-color: #fff;
}


#general_menu li.active{
   background-color: #EFEFEF;
}


#general_layout{
/*background-color: grey;*/

width: 80%;
float: right;
}





#industria_layout h3{
  padding: 10px 60px;
  font-size: 16pt;
}

#industria_layout h4{
  padding: 10px 60px;
  font-weight: normal;

}

#in_layout_head{
/*border-bottom: 1px solid #ccc;*/
}


#industria_layout p{
  padding: 20px 60px;
  /*font-weight: bold;*/
}

#industria_layout ul{
   text-align: center;
  /*border: 1px solid #ccc;*/
  
    width: 90%;
    margin-left: 3%;

}

#industria_layout li{
  display: inline-block;
  text-align: center;
  /*border: 1px solid #ccc;*/
  margin: 40px 20px;
  font-size: 11pt;
  text-transform: uppercase;


}

#industria_layout li span {
  color: #89B868;
  padding-right: 10px;
}

#specifics{
  width: 100%;
  margin: 0px;
  margin-left: 60px;
}

#specifics ul{
  margin: 0px;
  padding: 0px;

}

#specifics ul li {
  border-top: 1px solid #ccc;
  list-style: none;
  height: 300px;
  width: 100%;
}

#specifics ul li h4{
  padding: 0px 80px 0px 50px;
  font-size: 13pt;
  color: #89B868;
  margin-top: 50px;
}



#specifics ul li p{

  padding: 0px 80px 0px 50px;
  text-align: justify;
}


#image{
  width: 40%;
  height: 300px;
  float: left;
}

#in_image{
  width: 250px;
  height: 150px;
  /*border: 1px solid #ccc;*/
  padding: 60px 80px 0px 50px;
  background-image: url("../images/images/military2.jpg");
  margin: 0 auto;
  margin-top: 45px;
}

 #text{
  width: 60%;
  float: left;
/*  background: purple;*/
}

h5 {
  color: #494949;
  font-size:11pt;
  font-weight: normal;


}


[class^='imghvr-'],
[class*=' imghvr-'] {

}

#customers_info  h5{
  padding: 50px 220px;
}

#all_customers{
  width: 100%;
  border-top: 1px solid #ccc;
  height: 200px;
}

#single_customer{
  width: 33.2%;
  height: 250px;
  float: left;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


#single_customer img{
  /*border: 1px solid #ccc;*/
  width: 340px;
  margin: 60px 20px 20px 40px;
}




/*FOOTER */

footer{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-weight: 300;
  padding-top: 50px;
	color: #ececec;
	background-color: #333;
	height:300px;
  overflow: auto;
}


footer div {
float: left;
}

footer li{
  display: inline-block;

}

/*

section{
  float: left;
}*/


#p_contact{
  width: 50%;
  font-size: 14pt;
margin: 80px 80px ;
}



iframe{
float: left;
margin: 50px  0px;
}

#title_contact{
  font-size: 12pt;
  border-bottom: 1px solid #ccc;
  padding: 20px 20px;
  margin: 20px 0px;
}

#adress{
  background-color: white;
}

#contact_general{
  border-top: 1px solid #ccc;
}


#contact_info{
float: left;
width:59.5%;
}

#contact_form{
  /*background-color: #ccc;*/
  width: 40%;
  height: 100%;
  padding: 50px 0px;
  padding-bottom: 100px;
  float: left;
  text-align: center;
  border-left: 1px solid #ccc;
}


#contact_form form {
  padding-top: 50px;
}
#contact_form h3 {
  border-bottom: 1px solid #ccc;
  text-align: left;
 padding-left: 45px;
}

#contact_form input,textarea{ 
  width: 80%;
  margin-top: 20px;
}



textarea{
  /*background-color: green;*/
  height: 50px;
  min-height: 120px;
  max-height: 150px;
}


.base{
  margin-top: 50px;
  border-top: 1px solid #666;
}



#tab_menu ul{
  margin: 0;
  padding: 0;
}

#tab_menu ul li {
  width: 300px;
  height: 100px;
  list-style-type: none;
  border: 1px solid #ccc;
  padding: 10px
}


.tab_icon{
  /*background-color: #ccc;*/
  float: left;
  width: 40%;
  height: 100%;
  border: 1px solid green;
}



.tab_title{
  height: 100%;
  font-weight: 400;
  text-transform: uppercase;
}


.tab_title div{
padding-top: 12%;
}

.block{
  width: 33.3%;
  height: 300px;
  float: left;
  background-color: #ccc;
}



/*HOVER STYLES 
   ========================================================================== */

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #666666;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}



/* COMPONENTS INDEX 
   ========================================================================== */

.grid {
  width: 100%;
  height: 100%;
  padding: 0px 0px 100px 0px;
  max-width: 1280px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  position: relative;
}



.grid li {
  display: inline-block;
  float: left;
  width: 33.3%;
  margin: 0;
  text-align: left;
  position: relative;


}

.grid figure {
  margin: 0;
  position: relative;
}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
  /*border: 1px solid purple;*/
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #fff;
  color: #ed4e6e;
}

.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #ddd;
}

/*.grid figcaption span:before {
  content: 'by ';
}*/

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  /*display: inline-block;*/
  background: #ed4e6e;
  color: #fff;
}

/* Individual Caption Styles */



/* Caption Style 3 */
.cs-style-3 figure {
  overflow: hidden;
}

.cs-style-3 figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

.cs-style-3 figcaption {
  height: 100px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 1;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}



.no-touch .cs-style-7 figure:hover figcaption h3,
.no-touch .cs-style-7 figure:hover figcaption span,
.no-touch .cs-style-7 figure:hover figcaption a,
.cs-style-7 figure.cs-hover figcaption h3,
.cs-style-7 figure.cs-hover figcaption span,
.cs-style-7 figure.cs-hover figcaption a {
  -webkit-transition: opacity 0.3s 0.2s;
  -moz-transition: opacity 0.3s 0.2s;
  transition: opacity 0.3s 0.2s;
  opacity: 1;
}

@media screen and (max-width: 31.5em) {
  .grid {
    padding: 10px 10px 100px 10px;
  }
  .grid li {
    width: 100%;
    min-width: 300px;
  }
}

/*NORMALIZE STYLES
   ========================================================================== */



   /*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}








#news article div h4{
  color: #7F60A3;
  padding-left: 20px;
  padding-top: 10px;
  width: 90%;
  font-size: 11pt;

}

#news article div p{
  font-size: 10pt;
  padding: 0px;
  margin: 0px 20px 0px 20px;
  float: right;
}

